<%- include("partials/header"); -%>
<center>
	<div class = "container" style ="padding-bottom:200px">
		<header  style = "background:silver" class="jumbotron">
    	    <div class = "container">
				<center>
    	        	<h1>Welcome to Lender!</h1>
    	        	<p>The best sites for the lender and lendee to interact. Our idea is to make this lending and returning as smooth and affordible as possible.Also if you are looking to make some quick money then this website is for you. Konichiva!</p>
				</center>	
    	    </div>
    	</header>
		
		<title>Lender landing page</title>
		
		<p>Lets find the product you are looking for</p>
	
		<a href="/campgrounds">View our product</a>
	</div>
	
	<%- include("partials/footer"); -%>	

</center>	